[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-sat = {extras = ["aiger", "pblib", "approxmc", "cryptosat"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
